body {
  --bg-color: #162e7e;
  --text-color: #fff;
}

#app {
  font-family: "Helvetica", "Arial", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

.control {
  padding: 3px;
  height: 33px;
  font-size: 16px;
  min-width: 110px;
  background: transparent;
  color: white;
  border: 1px solid #fff;
  border-radius: 5px;
}

.control:disabled {
  background: rgba(180, 180, 180, 0.75);
  color: rgba(60, 60, 60, 1);
  border: rgba(60, 60, 60, 1);
}

.control:hover:disabled {
  cursor: not-allowed;
}

.control:hover:not(:disabled) {
  background: rgba(255, 255, 255, 0.2);
}

.control:active:not(:disabled) {
  background: rgba(0, 0, 0, 0.2);
}

.control:hover:not(:disabled), .control:active:not(:disabled) {
  cursor: pointer;
}

.controlWide {
  min-width: 150px;
}

.controlSmall {
  font-size: 14px;
  height: 26px;
}

.controlText {
  display: inline-block;
  padding-left: 8px;
}

#bitsPanel {
  height: 120px;
  flex-direction: row-reverse;
}

.bit {
  margin: 5px;
  height: 72px;
  width: 72px;
  color: white;
  font-size: 35px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.bitLabel, .controlText, .control i {
  pointer-events: none;
}

.bit-off {
  background: #333;
}

.bit-on {
  background: #227733;
}

/*.bit-off:hover {*/
/*  background: #555;*/
/*}*/

.bitColumn:hover, .bitColumn:active {
  cursor: pointer;
}

.bit:hover {
  filter: brightness(1.35);
  cursor: pointer;
}

.bit:active {
  filter: brightness(1);
}

.result {
  display: block;
  color: white;
  font-size: 23px;
  text-align: center;
  width: 280px;
  background: rgba(20, 20, 20, 0.5);
  padding: 10px 20px;
  height: 32px;
}

#titlePanel {
  margin-bottom: 20px;
}

#title {
  font-size: 42px;
}

#controlsPanel {
  /*margin-top: 2vh;*/
  gap: 10px;
}

#credits {
  width: auto;
}

.hide {
  /*display: none;*/
  visibility: hidden;
}

.resultPanel.hide {
  display: flex;
}

.bitColumn {
  text-align: center;
  font-size: 17px;
}

#instructionsPanel {
  font-style: italic;
}

#bitsPanel {
  /*margin-top: 5vh;*/
  /*margin-bottom: 2vh;*/
}

.optionColumn {
  gap: 10px;
}

.spinnerLabel {
  text-align: center;
}

.optionsPanel {
  margin-top: 25px;
  gap: 10px;
}

#creditsPanel {
  /*background: #111;*/
  font-size: 14px;
  text-align: center;
  height: 27px;
}

#optNBits {
  width: 80px;
  font-size: 17.5px;
  border: 1px solid #fff;
  background: rgba(20, 20, 20, 0.5);
  color: white;
  padding: 3px 10px 3px 30px;
}

input {
  text-align: center;
  border-radius: 5px;
}

label {
  font-size: 18px;
  text-align: right;
}

label.resultLabel {
  width: 80px;
}

#hexResult {
  text-transform: uppercase;
}

#credits a {
  color: white;
}

input[type="number"].result {
  padding: 3px 10px 3px 30px;
}

input.result {
  border: 1px solid #fff;
  border-radius: 5px;
}

.middlePanel {
  flex-grow: 1;
}

#header, #footer {
  flex-shrink: 0;
}

#resultsPanel {
  height: 200px;
  gap: 15px;
}

.resultPanel {
  gap: 10px;
}

.control.copyButton {
  width: 40px;
  min-width: 40px;
  color: white;
  background: none;
  border-radius: 5px;
  font-size: 17px;
}

/* jquery UI */

body {
  --checkbox-icon: url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/ios-checkmark.svg');
}

.ui-checkboxradio-label {
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.ui-checkboxradio-label:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid white;
}

.ui-checkboxradio-checked {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid white;
}

.ui-checkboxradio-checked.ui-state-active:hover {
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid white;
}

.ui-checkboxradio-checked .ui-icon {
  background-image: var(--checkbox-icon);
  background-position: center;
  background-size: 28px;
}

.ui-checkboxradio-checked:hover .ui-icon {
  background-image: var(--checkbox-icon);
}

/* added as part of refactor */

#main {
  overflow-y: scroll;
  justify-content: space-around;
  gap: 20px;
}

.flexRow {
  justify-content: center;
}

#header {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

/* checkboxradio */

.ui-checkboxradio-label {
  background: none;
  color: #fff;
}

.ui-checkboxradio-label .ui-checkboxradio-icon {
  border: 1px solid #aaa;
}

.ui-checkboxradio-label.ui-checkboxradio-checked {
  background: #fff;
  border-color: #fff;
  color: #221d1d;
}

.ui-checkboxradio-label:hover {
  background: rgba(255, 255, 255, .25) !important;
  color: #fff !important;
  border-color: #fff !important;
}

.ui-checkboxradio-label.ui-checkboxradio-checked:hover {
  background: rgba(0, 0, 0, 0.2) !important;
  color: #fff !important;
}

