* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #052577;
}

#app {
  font-family: "Helvetica", "Arial", sans-serif;
  background: #052577;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.flexCol.flexColCenter {
  justify-content: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.control {
  margin: 0px 10px;
  padding: 3px;
  height: 30px;
  font-size: 16px;
  min-width: 110px;
  background: transparent;
  color: white;
  border: 1px solid #fff;
  border-radius: 5px;
}

.control:disabled {
  background: rgba(180, 180, 180, 0.75);
  color: rgba(60, 60, 60, 1);
  border: rgba(60, 60, 60, 1);
}

.control:hover:disabled {
  cursor: not-allowed;
}

.control:hover:not(:disabled) {
  background: rgba(255, 255, 255, 0.2);
}

.control:active:not(:disabled) {
  background: rgba(0, 0, 0, 0.2);
}

.control:hover:not(:disabled), .control:active:not(:disabled) {
  cursor: pointer;
}

.controlWide {
  min-width: 150px;
}

.controlSmall {
  font-size: 14px;
  height: 26px;
}

.controlSecondary {
}

.controlText {
  display: inline-block;
  padding-left: 8px;
}

#bitsPanel {
  height: 150px;
  flex-direction: row-reverse;
}

.bit {
  margin: 5px;
  height: 72px;
  width: 72px;
  color: white;
  font-size: 35px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.bitLabel, .controlText, .control i {
  pointer-events: none;
}

.bit-off {
  background: #333;
}

.bit-on {
  background: #227733;
}

/*.bit-off:hover {*/
/*  background: #555;*/
/*}*/

.bitColumn:hover, .bitColumn:active {
  cursor: pointer;
}

.bit:hover {
  filter: brightness(1.35);
  cursor: pointer;
}

.bit:active {
  filter: brightness(1);
}

.result {
  display: block;
  color: white;
  font-size: 23px;
  text-align: center;
  width: 280px;
  background: rgba(20, 20, 20, 0.5);
  padding: 10px 20px;
  height: 32px;
}

#titlePanel {
  margin-top: 20px;
  margin-bottom: 40px;
}

#title {
  font-size: 42px;
}

#controlsPanel {
  margin-top: 40px;
}

#credits {
  width: auto;
}

.hide {
  /*display: none;*/
  visibility: hidden;
}

.bitColumn {
  text-align: center;
  font-size: 17px;
}

#instructionsPanel {
  font-style: italic;
}

#bitsPanel {
  margin-top: 40px;
  margin-bottom: 20px;
}

.optionColumn {
  gap: 10px;
}

.spinnerLabel {
  text-align: center;
}

.optionsPanel {
  margin-top: 25px;
  gap: 10px;
}

#creditsPanel {
  margin-top: 20px;
  background: #111;
  font-size: 14px;
  text-align: center;
  min-height: 27px;
}

#optNBits {
  width: 80px;
  font-size: 17.5px;
  margin-right: 10px;
  border: 1px solid #fff;
  background: rgba(20, 20, 20, 0.5);
  color: white;
  padding: 3px 10px 3px 30px;
}

input {
  text-align: center;
  border-radius: 5px;
}

label {
  margin-right: 10px;
  font-size: 18px;
  text-align: right;
}

label.resultLabel {
  width: 80px;
}

#hexResult {
  text-transform: uppercase;
}

#credits a {
  color: white;
}

input[type="number"].result {
  padding: 3px 10px 3px 30px;
}

input.result {
  border: 1px solid #fff;
  border-radius: 5px;
}

.middlePanel {
  flex-grow: 1;
}

#bottomPanel, #topPanel {
  flex-shrink: 0;
}

#topPanel {
  margin-bottom: 30px;
}

#resultsPanel {
  height: 200px;
  gap: 15px;
}

/* TODO */

.copyPanel {
  margin-left: 10px;
  width: 80px;
}

.copyButton {
  width: 30px;
  color: white;
  background: none;
  border-radius: 5px;
  font-size: 17px;
}

.copyButton.fade {
  transition-duration: 2s;
  transition-timing-function: ease;
}

.copyButton:not(.copied):not(.fade):hover {
  background: rgba(155, 155, 155, 0.5);
}

.copyButton.copied {
  background: #227733;
}

#copyBinaryPanel {
  margin-right: -90px;
}

/* jquery UI */

body {
  --checkbox-icon: url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/ios-checkmark.svg');
}

.ui-checkboxradio-label {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.ui-checkboxradio-label:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid white;
}

.ui-checkboxradio-checked {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid white;
}

.ui-checkboxradio-checked.ui-state-active:hover {
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid white;
}

.ui-checkboxradio-checked .ui-icon {
  background-image: var(--checkbox-icon);
  background-position: center;
  background-size: 28px;
}

.ui-checkboxradio-checked:hover .ui-icon {
  background-image: var(--checkbox-icon);
}

